*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
}
#street{
    width: 700px;
    height: 40px;
    background: black;
}
hr{
    border-top: 4px dashed rgb(255, 187, 0);
    border-bottom: none;
    top: 18px;
}
#patio{
    box-sizing: content-box;
    width:89px;
    height:768px;
    border-left:5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin-left: 50px;
    margin-top:10px;
    background: #2e2e8a88;
}
#service{
    width:30px;
    height:72px;
    border:1px solid black;
    position: absolute;
    top:400px;
    left:150px;
    border-radius: 10px;
    background: white;
}
.rectangle{
    width:42px;
    height:30px;
    position: absolute;
    background: #e4b583;
    border: 1px solid black;
}
.square{
    width:32px;
    height:32px;
    position: absolute;
    background: #b46530;
    border: 1px solid black;
}
.plastic{
    width:55px;
    height:31px;
    position: absolute;
    background: #4D4C51;
    border: 1px solid black;
}
.deuce{
    width:26px;
    height:30px;
    position: absolute;
    background: #c33f1e;
    border: 1px solid black;
}

#r1{
    top:50px;
    left: 250px;
}
#r2{
    top:100px;
    left: 250px;
}
#r3{
    top: 150px;
    left: 250px;
}
#r4{
    top:200px;
    left: 250px;
}
#r5{
    top:250px;
    left: 250px;
}
#r6{
    top:300px;
    left: 250px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#s1{
    top:100px;
    left: 350px;
}
#s2{
    top:150px;
    left:350px;
}
#s3{
    top:200px;
    left:350px;
}

#plastic1{
    top:350px;
    left:250px;
}
#plastic2{
    top: 400px;
    left: 250px;
}
#deuce1{
    top: 200px;
    left: 500px;
}
#deuce2{
    top:250px;
    left:500px;
}
#deuce3{
    top:300px;
    left:500px;
}
#deuce4{
    top:350px;
    left:500px;
}
#deuce5{
    top:400px;
    left:500px;
}
