h1{
  font-size:20px;
  color: blue;
}

p{
  color: green;
  font-size:10px;
}

.para1{
  color:red;
}

div{
  margin:10px;
  background-color:red;
  font-size:15px;
}

.container{
  padding:15px;
}

.container1{
  width:500px;
  height:100px;
  background-color:lightcyan;
  text-align:center;
}

.heading1{
  font-family: 'Courier New';
  color:tomato;
}

